@media (max-width: 1300px) {
    .content {
        margin-right: 31px;
        margin-left: 31px;
    }
    .header__content {
        justify-content: unset;
    }
    .nav {
        margin: 0 auto;
        flex-grow: 0;
    }
    .nav__list {
        justify-content: unset;
        justify-self: center;
    }
    .nav__list-item:not(:last-child) {
        margin-right: 33px;
    }
    .contacts__form {
        max-width: 342px;
    }
    .projects__cards {
    grid-template-rows: 285px 307px 307px;
    grid-row-gap: 24px;
    }
    .project__card-small1 { grid-area: 1 / 1 / 2 / 4; }
    .project__card-small2 { grid-area: 1 / 4 / 2 / 7; }
    .project__card-small3 { grid-area: 1 / 7 / 2 / 13; }
    .project__card-big1 { grid-area: 2 / 1 / 3 / 9; }
    .project__card-big2 { grid-area: 3 / 5 / 4 / 13; }
    .project__card-medium1 { grid-area: 2 / 9 / 3 / 13; }
    .project__card-medium2 { grid-area: 3 / 1 / 4 / 5; }

    .card-small-1 {
        background-image: url("images/small-1-1024.jpg");
        background-repeat: no-repeat;
      }
    .card-small-2 {
        background-image: url("images/small-2-1024.jpg");
        background-repeat: no-repeat;
      }
    .card-small-3 {
        background-image: url("images/small-3-1024.jpg");
        background-repeat: no-repeat;
      }
      .card-medium1 {
        background-image: url("images/medium-1-1024.jpg");
      }
      .map__flair {
        max-width: unset;
        width: 100%;
        height: unset;
        min-height: 157px;
        position: absolute;
        bottom: 0;
      }
}

@media (max-width: 1000px) {
  .content {
    margin-right: 27px;
    margin-left: 27px;
}
.header__content {
  flex-wrap: wrap;
}
.icon-container--logo {
  margin-right: auto;
}
.nav {
  order: 3;
  max-width: unset;
  width: 100%;
  background-color: #4A4A4A;
}
.nav__list {
  justify-content: space-between;
}
.hero__content {
  grid-template-rows: auto 228px 133px;
}
.hero__title {
  margin-bottom: -13px;
  font-size: 22px;
  line-height: 104%;
}
.about__right {
  display: flex;
  flex-direction: column;
}
.about__right img {
  flex-grow: 1;
}

.card-1 {
  background-image: url('images/hero-1-768.jpg');
}
.card-2 {
  background-image: url('images/hero-2-768.jpg');
}
.card-3 {
  background-image: url('images/hero-3-768.jpg');
}
.card-4 {
  background-image: url('images/hero-4-768.jpg');
}

.projects__cards {
  grid-template-rows: auto 300px auto 300px;
  grid-row-gap: 24px;
  }
  .project__card-small1 { grid-area: 1 / 1 / 2 / 5; }
  .project__card-small2 { grid-area: 1 / 5 / 2 / 9; }
  .project__card-small3 { grid-area: 1 / 9 / 2 / 13; }
  .project__card-big1 { grid-area: 2 / 1 / 3 / 13; }
  .project__card-big2 { grid-area: 4 / 1 / 5 / 13; }
  .project__card-medium1 { grid-area: 3 / 1 / 4 / 7; }
  .project__card-medium2 { grid-area: 3 / 7 / 4 / 13; }
  .card-small {
    background-size: cover;
  }
  .card-big {
    background-size: cover;
  }
  .card-medium {
    background-size: cover;
  }
  .contacts__content {
    flex-wrap: wrap;
  }
  .map {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .map__flair {
    padding: 25px 30px;
  }
  .contacts__form {
    max-width: 466px;
    min-height: 470px;
}
.footer__mid-text {
  display: none;
}
}

@media (max-width: 600px) {
  .content {
    margin-right: 21px;
    margin-left: 21px;
}
.top-logo {
  margin-right: auto;
}
.close-burger {
  top: 14px;
  left: 21px;
}
.nav__list-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 30px;
}
.nav-list-item {
  margin-bottom: auto;
}
  .hero__card {
    padding: 30px 28px;
  }
  .about__content-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: none;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
}
.about__left {
  grid-area: 1 / 1 / 2 / 2;
}
.about__right {
  grid-area: 2 / 1 / 3 / 2;
}
.nav__list {
  display: none;
}
.burger {
  display: block;
}

  .hero__content {
    display: grid;
    padding-top: 41px;
    padding-bottom: 68px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "A A"
    "B B"
    "C C"
    "D E";
    column-gap: 30px;
    row-gap: 30px;
}
.about__post {
  min-width: unset;
  width: 100%;
  margin-right: 0;
}
.about__img {
  width: 100%;
  height: auto;
}

  .card-1 {
    background-image: url('images/hero-1-320.jpg');
    min-height: 422px;
  }
  .card-2 {
    background-image: url('images/hero-2-320.jpg');
    min-height: 186px;
  }
  .card-3 {
    background-image: url('images/hero-3-320.jpg');
    min-height: 105px;
  }
  .card-4 {
    background-image: url('images/hero-4-320.jpg');
    min-height: 105px;
  }

  .projects__cards {
    grid-template-rows: repeat(7, auto);
    grid-template-columns: auto;
    grid-column-gap: 26px;
    }
  .project__card-small1 { grid-area: 1 / 1 / 2 / 2; }
  .project__card-small2 { grid-area: 2 / 1 / 3 / 2; }
  .project__card-small3 { grid-area: 3 / 1 / 4 / 2; }
  .project__card-big1 { grid-area: 4 / 1 / 5 / 2; }
  .project__card-big2 { grid-area: 5 / 1 / 6 / 2; }
  .project__card-medium1 { grid-area: 6 / 1 / 7 / 2; }
  .project__card-medium2 { grid-area: 7 / 1 / 8 / 2; }
  .card-big {
    background-position-x: center;
    height: 422px;
  }
  .card-big .date {
    margin-top: auto;
  }
  .btn-trans {
    margin-top: 16px;
  }
  .map {
    height: 472px;
  }
  .footer__content {
    margin: 0;
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
  .footer__right {
    padding-bottom: 32px;
  }
  .footer__left {
    padding-top: 14px;
    align-items: center;
    background-color:#4A4A4A;
  }
  .bottom-logo {
    margin-right: unset;
}
.footer__left-flair {
  margin-bottom: 14px;
  font-weight: 400;
font-size: 10px;
line-height: 13px;
}
}